.layout{
    color: var(--txt-color);
}
.layout_coutent{
    padding-left: var(--sidebar-width);
    background-color: var(--second-bg);
    min-height:100vh ;
}
.layout_coutent-main{
    padding: 30px;
}